<nav class="navbar" style="background-color: #85b37f;">
     <div class="container d-flex justify-content-center fw-bold ">
          <h5 style="color:rgb(15, 14, 16)">Result Management System</h5>
     </div>
</nav>

<p class="text-center fs-3 fw-bold mt-5 ">Login As</p>
<div class="text-center">
     <button routerLink="/login" type="button" class="btn btn-primary mt-5 mx-5">Teacher</button>
     <button routerLink="/stud" type="button" class="btn btn-primary mt-5 mx-5">Student</button>
</div>