<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Teacher Login</h1>
                    <h6>Please enter email & password !!</h6>
                </div>               
                    <form [formGroup]="loginTeacherForm" (ngSubmit)="loginTeacher()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" style="color: #fff;" class="form-label">Email</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
                          <span class="text-danger" *ngIf="loginTeacherForm.controls['email'].dirty && loginTeacherForm.hasError('required','email')">*Email Id is required</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" style="color: #fff;" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"><br>
                          <span class="text-danger" *ngIf="loginTeacherForm.controls['password'].dirty && loginTeacherForm.hasError('required','password')">*Password is required</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button routerLink="/front" type="submit" class="btn btn-secondary mx-3">Back</button>
                      </form>  
                      <a style="color: #fff; margin-top: 10px;" routerLink="/signup">New User? Click to signup!!</a>             
            </div>
        </div>
    </div>
</div>
